.main
	padding: 113px 0 89px 0
	border-bottom: 1px solid #f3f3f3
.h2
	margin-bottom: 50px
	text-align: center
	color: #181818
	font-family: Montserrat
	font-weight: 900
	line-height: 42px
	text-transform: uppercase
	+css-lock(15, 32, 320, 1200)
.list
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-items: center
	text-align: center
	&__item
		flex: 0 1 250px
		+r(767)
			flex: 1 1 100%
	&__h4
		font-weight: 400
		color: #181818
		font-family: Montserrat
		line-height: 44px
		+css-lock(12, 18, 320, 991)
	&__text
		color: #585858
		font-family: Roboto
		line-height: 24px
		+css-lock(10, 14, 320, 991)
	
.about
	border-bottom: 2px solid rgba(243, 243, 243, 0.85)
.works
	&__img
		float: left
		+r(767)
			width: 100%
	&__textual
		margin-top: 150px
		+r(991)
			text-align: center
	&__text
		margin-bottom: 40px
		color: #585858
		font-family: Roboto
		line-height: 28px
		font-weight: 500
		+css-lock(10, 16, 320, 991)
.gallery
	padding: 0
	&__item
		height: 532px
		display: flex
		flex-wrap: wrap
		+r(991)
			height: auto
	&__info
		padding: 40px
		flex-basis: 50%
		height: 95%
		background-color: #01be9d
		background-image: linear-gradient(45deg, #01be9d 0%, #0057b8 100%)
		box-sizing: border-box
		+r(1600)
			padding-left: 10px
		+r(991)
			flex-basis: 100%
		&_top
			margin-top: auto
		&_bot
			margin-bottom: auto
	&__h2
		margin-bottom: 0
		color: #fff
	&__textual
		margin: 47px 0
		color: #fff
		font-family: Roboto
		font-weight: 400
		line-height: 28px
		+css-lock(10, 16, 320, 1600)
		+r(1310)
			margin: 15px 0
	&__list
		padding-left: 50px
	&__list-item
		position: relative
		color: #fff
		font-family: Roboto
		font-weight: 400
		line-height: 28px
		+css-lock(10, 16, 320, 1600)	
		&:before
			content: ''
			position: absolute
			left: -50px
			width: 36px
			height: 36px
			background-image: url('../img/checked.png')
			background-repeat: no-repeat
			background-position: -12px -6px
		&:nth-child(n+2)
			margin-top: 26px
	&__img
		flex-basis: 50%
		&_top
			background-image: url('../img/gallery-pic-1.png')
		&_bot
			background-image: url('../img/gallery-pic-2.png')
		+r(991)
			height: 500px
			flex-basis: 100%
.offer
	&__text
		margin-bottom: 45px
		color: #585858
		font-family: Roboto
		font-weight: 500
		line-height: 28px
		text-align: center
		+css-lock(10, 16, 320, 991)
	&__item
		+r(1199)
			flex-basis: 45%
			&:nth-child(-n+2)
				margin-bottom: 30px
.listings
	background-image: url('../img/listings-bg.png')
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		+r(600)
			flex-direction: column
			text-align: center
	&__item
		&:nth-child(n+2)
			padding: 10px 0 0 44px
			border-left: 1px solid rgba(255,255,255, .15)
			+r(1199)
				padding: 0
				border: 0
	&__h3
		color: #fefefe
		font-family: Montserrat
		font-weight: 900
		line-height: 38px
		text-transform: uppercase
		+css-lock(16, 26, 320, 991)
	&__text
		color: #fff
		font-family: Roboto
		font-weight: 500
		line-height: 28px
		text-transform: uppercase
		+css-lock(10, 16, 320, 991)
		+r(600)
			margin: 15px 0

	