.main
	padding: 113px 0 89px 0
	border-bottom: 1px solid #f3f3f3
.h2
	margin-bottom: 50px
	text-align: center
	color: #181818
	font-family: Montserrat
	font-size: 32px
	font-weight: 900
	line-height: 42px
	text-transform: uppercase
.list
	display: flex
	justify-content: space-around
	text-align: center
	&__item
		flex-basis: 250px
	&__h4
		font-weight: 400
		color: #181818
		font-family: Montserrat
		font-size: 18px
		line-height: 44px
	&__text
		color: #585858
		font-family: Roboto
		font-size: 14px
		line-height: 24px
	
.about
	border-bottom: 2px solid rgba(243, 243, 243, 0.85)
.description
	height: 657px
	position: relative
	background-image: url('../img/descr-bg.png')
	background-repeat: no-repeat
	background-position: left bottom
	&__text
		margin-top: 10%
		width: 434px
		float: right
		color: #585858
		font-family: Roboto
		font-size: 16px
		line-height: 28px
		font-weight: 500
.offer
	&__text
		margin-bottom: 45px
		color: #585858
		font-family: Roboto
		font-size: 16px
		font-weight: 500
		line-height: 28px
		text-align: center
.listings
	height: 300px
	background-image: url('../img/listings-bg.png')
	&__list
		display: flex
		justify-content: space-around
		align-items: center
	&__h3
		color: #fefefe
		font-family: Montserrat
		font-size: 26px
		font-weight: 900
		line-height: 38px
		text-transform: uppercase
	&__text
		color: #fff
		font-family: Roboto
		font-size: 16px
		font-weight: 500
		line-height: 28px
		text-transform: uppercase

	