
.slick
    &__item
        width: 100%
        height: 840px
        background-image: url('../img/slider-img.png')
    &__content
        margin-top: 229px
    &__text
        margin: 63px 0
        color: #e2f0ff
        font-family: Roboto
        font-weight: 400
        line-height: 44px
        +css-lock(15, 22, 320, 991)
.slick-prev
    width: 58px
    height: 58px
    background-image: url('../img/slick-next.png')
    transform: rotate(-180deg)
    background-repeat: no-repeat
    z-index: 1000
    top: 80%
    right: 165px
    &:before
        content: ''
.slick-next
    width: 58px
    height: 58px
    background-image: url('../img/slick-next.png')
    background-repeat: no-repeat
    z-index: 1000
    top: 80%
    right: 100px
    &:before
        content: ''