<header class="header">
  <div class="slider">
    <div class="container">
      <nav class="nav">
        <div class="logo">
          <a href="" class="logo__link">
            <img src="img/logo.png" alt="" class="logo__img">
          </a>
        </div>
        <ul class="main-nav">
          
          {% for item in items.nav %}
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">{{item.content}}</a>
            </li>
          {% endfor %}

          <li class="main-nav__item">
              <a href="#" class="main-nav__log">Log In</a>
          </li>
          <li class="main-nav__item">
              <a href="#" class="main-nav__sign">Sign Up </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </nav>
      <div class="slider__content">
        <h1 class="h1">Crowdsourced<br>ad Space</h1>
        <p class="slider__text">A peer-to-peer advertising platform</p>
        <a href="#" class="button button_gradient">Start Selling, now</a>
      </div>
      <div class="header__scroll"></div>
    </div>
  </div>
</header>
