<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="" class="logo__link">
        <img src="img/logo.png" alt="" class="logo__img">
      </a>
    </div>
    <div class="toggle">
      <span class="toggle__item"></span>
      <span class="toggle__item"></span>
      <span class="toggle__item"></span>
    </div>
    <ul class="menu">

      {% for item in items.nav %}
      <li class="menu__item">
        <a href="#" class="menu__link">{{item.content}}</a>
      </li>
      {% endfor %}

      <li class="menu__item">
        <a href="#" class="menu__log">Log In</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__sign">Sign Up </a>
      </li>
    </ul>
  </nav>
  <div class="slick">
    {% for item in items.slick %}
    <div class="slick__item">
      <div class="container">
        <div class="slider__content">
          <h1 class="h1">{{item.h2 | safe}}</h1>
          <p class="slider__text">{{item.text}}</p>
          <button href="#" class="button button_chameleon">Start Selling, now</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="header__scroll"></div>
</header>
