{% set
nav = [
	{
		content: 'About'
	},
	{
		content: 'Marketplace'
	},
	{
		content: 'Contact'
	}
]
%},
{% set
about__list = [
	{
		img: {
			src:"img/mouse-list.png",
			alt:"mouse"
		},
		title: "Easy to Use",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
	},
	{
		img: {
			src:"img/clock-list.png",
			alt:"clock"
		},
		title: "Save Your Time",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
	},
	{
		img: {
			src:"img/effective-list.png",
			alt:"effective"
		},
		title: "Effective",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
	}
] 
%},
{% set
gallery__item = [
	{
		h2:"Sell Your Excess Space to Advertisers",
		text:"Donec eu egestas massa. Pellentesque viverra viverra tellus, non tempor libero lobortis vel. Mauris nec sollicitudin velit. Nam dui nibh, consequat sed dolor non, commodo consequat felis. Maecenas aliquet arcu id mattis vestibulum. Donec in lacus pulvinar, posuere magna ac, tempor quam. Aenean iaculis mi ac sapien."
	},
	{
		h2:"Place Ads Directly Through Spacewolff"
	}
] 
%},
{% set
gallery__list = [
	{
		list__item:"Aenean iaculis mi ac sapien mollis, posuere semper nibh finibus."
	},
	{
		list__item:"Suspendisse pharetra elit ut neque viverra condimentum."
	},
	{
		list__item:"Cras nec lorem a nisl auctor sodales sed sed quam posuere semper."
	}
] 
%},
{% set
offer__list = [
	{
		img: {
			src:"img/account-list.png",
			alt:"account"
		},
		title: "Create an Account",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua."
	},
	{
		img: {
			src:"img/search-list.png",
			alt:"search"
		},
		title: "Search For Ad Space",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua."
	},
	{
		img: {
			src:"img/apply-list.png",
			alt:"apply"
		},
		title: "Apply For Ad Space",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua."
	},
	{
		img: {
			src:"img/place-list.png",
			alt:"place"
		},
		title: "Your Ad Is Placed",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua."
	}
] 
%},
{% set
footer__spacewolff = [
	{
		content:"Marketplace"
	},
	{
		content:"About Company"
	},
	{
		content:"FAQs"
	},
	{
		content:"Blog"
	},
	{
		content:"Contact"
	}
] 
%},
{% set
footer__legal = [
	{
		content:"Privacy Policy"
	},
	{
		content:"Terms of Use"
	},
	{
		content:"Payment and Refund Policy"
	}
] 
%}
{% set
networks = [
	{
		img: {
			src: "img/facebook.png",
			alt: "fb"
		}
	},
	{
		img: {
			src: "img/twitter.png",
			alt: "twitter"
		}
	},
	{
		img: {
			src: "img/instagram.png",
			alt: "instagram"
		}
	}
] 
%}
{% set
slick = [
	{
		h2:"1Crowdsourced<br>ad Space",
		text:"A peer-to-peer advertising platform"
	},
	{
		h2:"22Crowdsourced<br>ad Space",
		text:"A peer-to-peer advertising platform"	
	},
	{
		h2:"333Crowdsourced<br>ad Space",
		text:"A peer-to-peer advertising platform"		
	}
] 
%}